* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: bisque;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
}

.container>header {
    display: flex;
}


header {
    display: inline;
    align-items: center;
}

header img {
    height: 30px;
    margin-right: 10px;
}

h1,
h2 {
    font-weight: bold;
}

h2 {
    margin-top: 15px;
    margin-bottom: 5px;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

form input {
    height: 30px;
    padding: 3px;
    color: black;
    margin-right: 10px;
    border: 0;
}

#nome {
    width: 350px;
}

#telefone {
    width: 150px;
}


form button {
    height: 30px;
    padding: 5px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgba(0, 128, 0, 0.74);
}

table {
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

thead tr th {
    padding-bottom: 5px;
    border-bottom: 1px black solid;
}

tbody tr td {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}

.container-avisos {
    display: flex;
}


#aviso {
    text-align: center;
    font-weight: bold;
    display: none;
}

.msg-aviso {
    background-color: rgb(255, 255, 0);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
}